extends ../layout

block content
    a(href='/bicicletas') volver
    br
    br 
    br

    h2 Nueva Bicicleta

    br 
    br

    form(action='/bicicletas/create', method='POST')
      label(for='id') ID:
      input#id(type='text', name='id', value='')
      br
      label(for='color') Color:
      input#color(type='text', name='color', value='')
      br
      label(for='modelo') Modelo:
      input#modelo(type='text', name='modelo', value='')
      br
      label(for='latitud') Latitud:
      input#latitud(type='text', name='latitud', value='')
      br
      label(for='longitud') Longitud:
      input#longitud(type='text', name='longitud', value='')
      br
      br
      input.btn(type='submit', value='Ok')
